<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Alcool ou Gasolina.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE6FF6D61E5005A100CC0E4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE6FF6EA1E5005A100CC0E4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE6FF6F51E5005A200CC0E4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
