<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lista de Tarefas.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE2421B81E6461A30015776A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE2421CC1E6461A40015776A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE2421D71E6461A40015776A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
