<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Passando Dados Entre Views.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EEF8C5181E5FD12100141E7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEF8C52C1E5FD12100141E7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEF8C5371E5FD12100141E7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
