<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Meus Filmes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EEE064701E6276D600ADBB17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEE064841E6276D600ADBB17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEE0648F1E6276D600ADBB17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
